:root{
    --backgroundColor: linear-gradient(70deg, #E60026,#f8f32b);
    --backgroundNav: #000000;
    --colorLetrasNav: #ffffff;
    --contenedoresGrid: #f8f32b;
    --tamanoArticulosWidth:50%;
    --paddingArticulos:1.5rem;
    --tamañoP:1.325rem;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    box-sizing: content-box;
    background: var(--backgroundColor);
}


header {
    width: 100%;
    height: 10vh;
    background-color: var(--backgroundNav);
    position: fixed;
}

nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh; 
    background-color: var(--backgroundNav);
    position: fixed;
}

h1{
    font-size: 5rem;
}

h2{ font-size: 2rem;
 
}
h3 {
    font-size:1.7rem;
}

h4{
    font-size: 1.350rem;
}



.titulo-separador{
    margin: 0;
}  

p{
    text-align: justify;
    font-size: var(--tamañoP);
}

.pantallas{
    width: 100%;
 
}

/*Estilo inicio*/
.bienvenida{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-inicio{
    margin:0 auto;
}


.articulos{
    margin:  auto;
    padding: var(--paddingArticulos);
    width: var(--tamanoArticulosWidth); 
}

.grids{
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}

.elemento-propiedades{
    padding: 1rem;
    background-color: var(--contenedoresGrid);
}

/*Estilo menu*/
.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ nav {
    display: flex;
}

.boton-menu{
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 10vh;
}
span::before {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--colorLetrasNav);
    margin-bottom: 0.5rem;


}

.nav-lista{
    list-style: none;
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.lista-items{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}


a{
    text-decoration: none;
    color: var(--colorLetrasNav);
}


/*Estilo separadores*/
.separador{
    width: 100%;
    height: 7rem;
    background-color: var(--backgroundNav);
    margin: 2rem 0;
    color: var(--colorLetrasNav);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Estilo ciclos de vida*/
.ciclo-vida-img,.ciclo-vida-salmon,.img-sashimi
,.ciclo-waterfall-subproyectos,.risk-reduction-img
,.img-ciclo-espiral,.img-evolutionary-prototyping,.img-ciclo-staged-delivery{
    width: 100%;
    height: 60vh;
    border-radius: 5%;
}

.lista-ordenada-espiral{
    text-align: left;
    font-size: var(--tamañoP);
}


/*Estilo analisis requerimientos*/
.analisis-requerimientos-lista-1,.lista-tipo-requerimientos,.actividades-relevamiento-requerimientos{
    text-align: left; 
    font-size: var(--tamañoP);
}

.img-stakeholders{
    width: 50%;
    height: 50vh;
    margin: auto;

}




